<h2><%= place.name %></h2>

<% users.users.forEach(user => { %>
  <article>
    <h3><%= user.username %></h3>
    <p>Wants to share:
      <% user.languagesOffer.forEach(language => { %>
        <span class="flag-icon flag-icon-<%=language%>"></span>
      <% })%>
    </p>
    <p>Wants to learn:
      <% user.languagesWant.forEach(language => { %>
        <span class="flag-icon flag-icon-<%=language%>"></span>
      <% })%>
    </p>
  </article>
<% })%>
