/*body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background-image: url("/img/bg2.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.main {
	padding-top: 50px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 30px;
	padding: .3em 1em;
	background-color: #299aca;
	border-top: 2px solid #205f96;
	-webkit-box-shadow: 0 -3px 5px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 -3px 5px 2px rgba(0,0,0,0.4);
	box-shadow: 0 -3px 5px 2px rgba(0,0,0,0.4);
}

.footer span {
	font-style: italic;
	color: #205f96;
	font-weight: 300;
}

.footer a {
	float: right;
	margin-left: 1em;
	padding: 0 1em;
}

body > nav.navbar {
	height: 55px;
	padding-top: 2px;
	background: #299aca;
	border-bottom: 2px solid #205f96;
	-webkit-box-shadow: 0 3px 5px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 3px 5px 2px rgba(0,0,0,0.4);
	box-shadow: 0 3px 5px 2px rgba(0,0,0,0.4);
}

body > nav.navbar .navbar-nav a,
body > nav.navbar a.navbar-brand {
	color: white;
}

body > nav.navbar a.navbar-brand:hover {
	color: white;
}

body > nav.navbar .navbar-nav>li>.dropdown-menu {
	background: #299aca;
}
body > nav.navbar .navbar-nav>li.dropdown.open a {
	background: transparent;
	color: white;
}


.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: white;
  background-color: #2689b3;
}


.title-wrapper {
	text-align: center;
	padding-top: 15vh;
}

.title-wrapper .title{
	font-family: ‘Lemonada’, cursive;
}

.title-wrapper .title {
	font-size: 70px;
}

.title-wrapper .subtitle {
	font-size: 50px;
	font-weight: 300;
}
.title-wrapper .title,
.title-wrapper .subtitle {
	text-shadow: 3px 3px 6px #030e13;
	color: white;
}


form .alert-danger {
	border-color: #b12929;
	background: #ea5353;
	text-shadow: none;
	border-radius: 0;
}

.login,
.signup {
	width: 380px;
	padding-top: 50px;
	margin: 0 auto;
}

.login .panel.panel-default,
.signup .panel.panel-default {
	-webkit-box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.4);
	box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.4);
	border-radius: 0;
	padding: 1em;
}

.login .panel-heading,
.signup .panel-heading {
	background: transparent;
	color: #299aca;
	border: 0;
	border-radius: 0;
	text-align: center;
	font-size: 25px;
}

.login form button,
.signup form button {
	background: #299aca;
	margin: auto;
	width: auto;
	padding: .5em 1em;
	font-size: 20px;
	border-radius: 0;
	border-color: #2689b3;
}
.login form button:hover,
.signup form button:hover {
	background-color: #2689b3;
}
.login form label,
.signup form label {
	color: #ea8953;
}

.login form input,
.signup form input {
	border-radius: 0;
}

/*.navbar-default,
.footer {
	background-color: #66990f;
}*/

.navbar-left {
	margin-right: 10px;
	margin-top: 2px;
}

#map {
 height: 95vh;
 width: 100%;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#searchPlace {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#searchPlace:focus {
  border-color: #4d90fe;
}
